@charset "utf-8";
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
q,
s,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
body {
  font-family: Arial, "微軟正黑體" !important;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  overflow-x: hidden;
}
html {
  height: 100%;
}
html.ie7 {
  overflow-x: hidden;
}
html.ie7 body {
  overflow-x: visible;
}
html.ie7 em {
  font-style: normal;
}
body {
  margin: 0;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
}
body img {
  display: block;
  width: auto;
  height: auto;
}
body a {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}
a[href^="tel"] {
  color: inherit;
  /* Inherit text color of parent element. */
  text-decoration: none;
  /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}
* {
  box-sizing: border-box;
}
/* total width */
*::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color: #ffffff;
}
*::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #ffffff;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}
.for-mobile {
  display: none;
}
@media all and (max-width: 800px) {
  .for-mobile {
    display: block;
  }
}
.for-desktop {
  display: block;
}
@media all and (max-width: 800px) {
  .for-desktop {
    display: none;
  }
}
.slick-prev {
  cursor: pointer;
  display: block;
  width: 53px;
  height: 53px;
  position: absolute;
  left: 10px;
  z-index: 2;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/prev.png");
}
@media all and (max-width: 1200px) {
  .slick-prev {
    width: 35px;
    height: 35px;
  }
}
.slick-next {
  cursor: pointer;
  display: block;
  width: 53px;
  height: 53px;
  position: absolute;
  right: 10px;
  z-index: 2;
  outline: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/next.png");
}
@media all and (max-width: 1200px) {
  .slick-next {
    width: 35px;
    height: 35px;
  }
}
.page-slide-box {
  outline: none;
}
.jumpElement {
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.jumpElement:active {
  transform: scaleX(0.9) scaleY(0.98);
}
.floatElement {
  transform-origin: top center;
}
.jumpElement.active {
  animation: peopleJump2 0.4s ease 2;
}
.floatElement.active {
  animation: peopleJump3 1s ease 2;
}
@keyframes peopleJump2 {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  50% {
    transform: translate3d(0, -30px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes peopleJump3 {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  25% {
    transform: translate3d(0, -33px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
  }
}
header {
  width: 100%;
  height: 83px;
  background-color: #fff;
}
header > .bg-box {
  width: 100%;
  height: 12px;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-image: url("../img/_mode/header/header-bg.png");
}
header .logo-box {
  float: left;
  align-items: center;
  padding-top: 20px;
  padding-left: 100px;
}
@media all and (max-width: 1200px) {
  header .logo-box {
    padding-left: 30px;
  }
}
@media all and (max-width: 900px) {
  header .logo-box {
    padding-left: 20px;
  }
}
@media all and (max-width: 600px) {
  header .logo-box {
    width: 300px;
    padding-top: 22px;
  }
}
@media all and (max-width: 500px) {
  header .logo-box {
    padding-left: 10px;
  }
}
@media all and (max-width: 400px) {
  header .logo-box {
    width: 250px;
  }
}
header .logo-box a {
  display: block;
}
header .logo-box img {
  display: inline-block;
  width: 100%;
  margin-right: 10px;
  vertical-align: middle;
}
@media all and (max-width: 500px) {
  header .logo-box img {
    margin-right: 3px;
  }
}
header .logo-box span {
  font-size: 24px;
  font-weight: bold;
  color: #555555;
  vertical-align: bottom;
}
@media all and (max-width: 1200px) {
  header .logo-box span {
    font-size: 20px;
  }
}
@media all and (max-width: 500px) {
  header .logo-box span {
    font-size: 14px;
    vertical-align: bottom;
  }
}
header .icon-box {
  float: right;
  padding-right: 100px;
}
@media all and (max-width: 1200px) {
  header .icon-box {
    padding-right: 30px;
  }
}
@media all and (max-width: 900px) {
  header .icon-box {
    padding-right: 20px;
  }
}
@media all and (max-width: 500px) {
  header .icon-box {
    padding-right: 10px;
  }
}
@media all and (max-width: 1000px) {
  header .icon-box {
    display: none;
  }
}
header .icon-box li {
  float: left;
}
header .icon-box li a {
  display: block;
}
header .icon-box li.live {
  margin-right: 20px;
}
header .icon-box li.fb {
  cursor: pointer;
}
header .page-link-box {
  float: right;
  margin-right: 40px;
  margin-top: 24px;
}
@media all and (max-width: 1000px) {
  header .page-link-box {
    display: none;
  }
}
header .page-link-box li {
  float: left;
  font-size: 18px;
  color: #555;
  margin-right: 20px;
}
header .page-link-box li a {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
header .page-link-box li:last-child {
  margin-right: 0;
}
header .menu-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 30px;
  font-size: 30px;
}
header .menu-btn i {
  font-size: 30px;
  color: #f77d09;
}
@media all and (max-width: 1000px) {
  header .menu-btn {
    display: block;
  }
}
@media all and (max-width: 500px) {
  header .menu-btn {
    right: 10px;
  }
}
header .mobile-menu-out-box.hide {
  opacity: 0;
  visibility: hidden;
}
header .mobile-menu-out-box.hide .bg-box {
  transform: translate3d(0, -100%, 0);
}
header .mobile-menu-out-box {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
header .mobile-menu-out-box .header {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 12px;
  background-repeat: repeat;
  background-image: url("../img/_mode/header/header-bg.png");
}
header .mobile-menu-out-box .bg-box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
header .mobile-menu-out-box .bg-box .close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 30px;
  padding: 0 10px;
  color: #f77d09;
}
header .mobile-menu-out-box .bg-box .bottom-bg {
  width: 100%;
  padding-bottom: 30%;
  position: absolute;
  bottom: 0;
  background-repeat: repeat;
  background-size: contain;
  background-image: url("../img/_mode/header/mobile-menu-bg.png");
}
header .mobile-menu-out-box .bg-box ul.link-menu {
  overflow: hidden;
  position: relative;
  top: 140px;
  margin: 0 auto;
}
header .mobile-menu-out-box .bg-box ul.link-menu li {
  opacity: 1;
  display: block;
  text-align: center;
  transform: translate3d(0, 0, 0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
header .mobile-menu-out-box .bg-box ul.link-menu li a {
  display: block;
  padding: 10px 0;
  font-size: 25px;
  color: #555;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 500px) {
  header .mobile-menu-out-box .bg-box ul.link-menu li a {
    font-size: 20px;
  }
}
header .mobile-menu-out-box .bg-box ul.link-menu li a:hover {
  color: #f77d09;
}
header .mobile-menu-out-box .bg-box ul.link-menu li.hide {
  opacity: 0;
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
header .mobile-menu-out-box .bg-box ul.link-menu li.li4.hide {
  opacity: 0;
  transform: translate3d(-70px, 0, 0);
}
header .mobile-menu-out-box .bg-box ul.link-menu li.icon-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 0;
}
header .mobile-menu-out-box .bg-box ul.link-menu li.icon-box a:hover {
  color: #555;
}
header .mobile-menu-out-box .bg-box ul.link-menu li.icon-box span {
  display: inline-block;
  font-size: 0;
}
header .mobile-menu-out-box .bg-box ul.link-menu li.icon-box span.wk-fb-share {
  padding: 10px 0;
  cursor: pointer;
}
.gotop-outbox {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: fixed;
  bottom: 100px;
  right: 10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 1600px) {
  .gotop-outbox {
    right: 20px;
  }
}
@media all and (max-width: 1200px) {
  .gotop-outbox {
    top: auto;
    bottom: 40px;
    right: 20px;
  }
}
@media all and (max-width: 800px) {
  .gotop-outbox {
    bottom: 30px;
    right: 10px;
  }
}
.gotop-outbox .gotop-box .gotop-circle {
  position: relative;
  cursor: pointer;
  width: 132px;
  height: 132px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/_mode/hintman/gotop.png");
}
@media all and (max-width: 1200px) {
  .gotop-outbox .gotop-box .gotop-circle {
    width: 100px;
    height: 100px;
  }
}
@media all and (max-width: 800px) {
  .gotop-outbox .gotop-box .gotop-circle {
    width: 70px;
    height: 70px;
  }
}
.gotop-outbox .gotop-box .gotop-arrow {
  cursor: pointer;
  width: 52px;
  height: 71px;
  position: absolute;
  top: 0px;
  right: 43px;
  background-image: url("../img/_mode/hintman/hintman-arrow.png");
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 1200px) {
  .gotop-outbox .gotop-box .gotop-arrow {
    display: none;
  }
}
.gotop-outbox .gotop-box .text-box {
  position: absolute;
  top: 27px;
  right: 50px;
  width: 50px;
  height: 100px;
  overflow: hidden;
  border-radius: 60px 0px 0px 60px;
  background-color: #fff;
  z-index: -1;
  box-shadow: #0000002e 1px 1px 10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 1200px) {
  .gotop-outbox .gotop-box .text-box {
    display: none;
  }
}
.gotop-outbox .gotop-box .text-box span {
  display: block;
  color: #000;
  width: max-content;
  width: -moz-max-content;
  font-size: 20px;
  position: absolute;
  top: 34px;
  left: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gotop-outbox .gotop-box:hover .text-box {
  width: 330px;
}
.gotop-outbox .gotop-box:hover .hintman-arrow {
  top: -60px;
}
.gotop-outbox.show {
  opacity: 1;
  visibility: visible;
  bottom: 80px;
}
.anchor-box {
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: #fff;
}
@media all and (max-width: 800px) {
  .anchor-box {
    display: block;
  }
}
.anchor-box ul {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.anchor-box ul li {
  cursor: pointer;
  float: left;
  width: 25%;
  height: 100%;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anchor-box ul li img {
  margin: 0 auto;
}
.anchor-box ul li span {
  display: block;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.anchor-box ul li:nth-child(1) {
  background-color: #F5A623;
}
.anchor-box ul li:nth-child(2) {
  display: none;
  background-color: #289428;
}
.anchor-box ul li:nth-child(3) {
  background-color: #9b6a61;
}
.anchor-box ul li:nth-child(4) {
  background-color: #d70500;
}
.anchor-box ul li:nth-child(5) {
  background-color: #39579a;
}
