@charset "utf-8";
body {
  background-color: #f8f8f8;
}
body > .main-container {
  padding: 220px 0 80px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  body > .main-container {
    padding: 160px 30px 30px;
  }
}
body > .main-container .left-box {
  float: left;
  width: 200px;
  margin-right: 60px;
}
@media (max-width: 1200px) {
  body > .main-container .left-box {
    width: 100px;
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  body > .main-container .left-box {
    width: 100%;
    max-width: 342px;
    margin: 0 auto 30px auto;
    float: none;
    overflow: hidden;
  }
}
@media (max-width: 400px) {
  body > .main-container .left-box {
    max-width: 300px;
  }
}
body > .main-container .left-box .member-menu {
  background-color: #fff;
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu {
    background-color: transparent;
  }
}
body > .main-container .left-box .member-menu .title {
  color: #fff;
  font-size: 26px;
  border-radius: 5px;
  text-align: center;
  padding: 15px 0;
  background-color: #df032e;
}
@media (max-width: 1200px) {
  body > .main-container .left-box .member-menu .title {
    font-size: 18px;
    padding: 15px 0;
  }
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu .title {
    display: none;
  }
}
body > .main-container .left-box .member-menu > ul {
  position: relative;
  width: 100%;
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu > ul {
    overflow: hidden;
  }
}
body > .main-container .left-box .member-menu > ul li {
  padding: 17px;
  padding-top: 0;
}
@media (max-width: 1200px) {
  body > .main-container .left-box .member-menu > ul li {
    padding: 7px;
    margin: 10px;
  }
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu > ul li {
    width: auto;
    float: left;
    padding: 12px;
    border-radius: 7px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0 0 10px rgb(101, 101, 101,0.1);
  }
}
@media (max-width: 400px) {
  body > .main-container .left-box .member-menu > ul li {
    padding: 8px;
  }
}
@media (max-width: 350px) {
  body > .main-container .left-box .member-menu > ul li {
    margin: 5px;
  }
}
body > .main-container .left-box .member-menu > ul li a {
  display: flex;
  align-items: center;
  color: #666;
  padding: 0 16px 10px;
  border-bottom: solid 2px #ccc;
}
@media (max-width: 1200px) {
  body > .main-container .left-box .member-menu > ul li a {
    flex-direction: column;
    padding: 0 5px 10px;
  }
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu > ul li a {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0;
    border: none;
    padding: 0;
  }
}
@media (max-width: 400px) {
  body > .main-container .left-box .member-menu > ul li a {
    width: 60px;
    height: 60px;
  }
}
body > .main-container .left-box .member-menu > ul li a .icon {
  margin-right: 10px;
}
@media (max-width: 1200px) {
  body > .main-container .left-box .member-menu > ul li a .icon {
    margin: 0;
    margin-bottom: 3px;
  }
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu > ul li a .icon {
    margin: 0;
    margin-bottom: 3px;
  }
}
@media (max-width: 1200px) {
  body > .main-container .left-box .member-menu > ul li a span {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu > ul li a span {
    display: block;
    text-align: center;
  }
}
body > .main-container .left-box .member-menu > ul li:first-child {
  padding-top: 17px;
}
@media (max-width: 1024px) {
  body > .main-container .left-box .member-menu > ul li:first-child {
    padding-top: 12px;
  }
}
@media (max-width: 400px) {
  body > .main-container .left-box .member-menu > ul li:first-child {
    padding: 8px;
  }
}
body > .main-container .left-box .member-menu > ul li:last-child a {
  border-bottom: none;
}
body > .main-container .left-box .member-menu > ul li.active a {
  color: #df032e;
}
body > .main-container .right-box {
  float: left;
  width: calc(100% - 260px);
}
@media (max-width: 1200px) {
  body > .main-container .right-box {
    width: calc(100% - 130px);
  }
}
@media (max-width: 1024px) {
  body > .main-container .right-box {
    width: 100%;
    float: none;
  }
}
body > .main-container .right-box .bread-box {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  body > .main-container .right-box .bread-box {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
body > .main-container .right-box .bread-box i {
  margin: 0 0 0 5px;
  font-style: initial;
}
body > .main-container .right-box .bread-box span:last-child {
  color: #df042e;
}
body > .main-container .right-box .main-title {
  font-size: 35px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  body > .main-container .right-box .main-title {
    font-size: 26px;
  }
}
body > .main-container .right-box .notice {
  margin-bottom: 30px;
}
body > .main-container .right-box .form-content {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content {
    width: 100%;
  }
}
@media (max-width: 400px) {
  body > .main-container .right-box .form-content {
    padding: 15px;
  }
}
body > .main-container .right-box .form-content ol,
body > .main-container .right-box .form-content ul {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box {
    overflow: scroll;
    overflow-y: hidden;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul {
  min-height: 200px;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul {
    width: 100%;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li {
  width: 100%;
  padding: 5px 0;
  border-bottom: solid 1px #e5e5e5;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px 24px;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box {
    display: block;
    padding: 8px 10px;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span {
  float: left;
  display: block;
  width: 15%;
  padding: 0 3px;
  font-size: 15px;
  color: #333;
  vertical-align: top;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span {
    width: calc(100% - 120px);
    font-weight: bold;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.edit {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 4px;
  background-image: url('../images/_page/member/edit.svg');
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.edit:hover {
  background-image: url('../images/_page/member/edit-active.svg');
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.buy-again {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 2px;
  background-image: url('../images/_page/member/buy-again.svg');
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.buy-again:hover {
  background-image: url('../images/_page/member/buy-again-active.svg');
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.detail {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 2px;
  background-image: url('../images/_page/member/detail.svg');
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.detail:hover {
  background-image: url('../images/_page/member/detail-hover.svg');
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.delete {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 2px;
  background-image: url('../images/_page/member/delete.svg');
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span i.delete:hover {
  background-image: url('../images/_page/member/delete-active.svg');
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span .tag {
  cursor: pointer;
  font-size: 15px;
  padding: 2px 5px;
  border-radius: 5px;
  color: #aa8534;
  border: solid 1px #aa8534;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span .tag:hover {
  opacity: 0.8;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.for-mobile {
  display: none;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.for-mobile {
    display: block;
  }
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.for-mobile > span.for-mobile {
    display: inline-block;
    margin-right: 10px;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.type1 {
  width: 35%;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.type1 {
    width: 110px;
    margin-right: 10px;
  }
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.type1 .text {
    display: none;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.type2 {
  width: 5%;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span:nth-child(2) {
  display: flex;
  align-items: center;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span:nth-child(2) .product-img {
  width: 110px;
  height: 110px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span:nth-child(2) .product-img {
    margin-right: 0px;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span:nth-child(2) .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span:first-child {
    display: none;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.date1 {
  font-size: 13px;
  color: #a2a2a2;
  margin-bottom: 5px;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.record {
    display: block;
    width: calc(100% - 25px);
    margin-top: 10px;
  }
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.record span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #a2a2a2;
  }
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul > li .top-box > span.btn-common-remove {
    width: 25px;
    margin-top: 10px;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul > li .top-box label {
  margin: 0;
  padding: 0;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box {
  display: none;
  margin-top: 20px;
  padding: 20px 28px;
  border-radius: 5px;
  border: solid 1px #e5e5e5;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box .coupon-detail-box {
  overflow: hidden;
  display: flex;
  align-items: center;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box .coupon-detail-box .left-box {
  width: 45%;
  margin-right: 5%;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box .coupon-detail-box .left-box .title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 2px;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box .coupon-detail-box .left-box .sub-title {
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box .coupon-detail-box .left-box .description {
  font-size: 15px;
  color: #666;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box .coupon-detail-box .right-box {
  width: 50%;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .bottom-box .coupon-detail-box .right-box .banner img {
  width: 100%;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .tri-box {
  display: none;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}
body > .main-container .right-box .form-content .replenish-box > ul > li .tri-box .triangle {
  display: block;
  width: 24px;
  height: 13px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url('../images/_page/member/tri-up-red.svg');
}
body > .main-container .right-box .form-content .replenish-box > ul li.active .top-box > span i.detail {
  background-image: url('../images/_page/member/detail-active.svg');
}
body > .main-container .right-box .form-content .replenish-box > ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
body > .main-container .right-box .form-content .replenish-box > ul li.table-head {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #8d8d8d;
  border-radius: 5px;
  padding: 17px 24px;
  background-color: #f8f8f8;
}
@media (max-width: 1024px) {
  body > .main-container .right-box .form-content .replenish-box > ul li.table-head {
    display: none;
  }
}
body > .main-container .right-box .form-content .replenish-box > ul li.table-head .top-box {
  padding: 0;
}
body > .main-container .right-box .form-content .replenish-box > ul li.table-head .top-box span {
  font-size: 15px;
  color: #8d8d8d;
}
body > .main-container .right-box .notice-box {
  padding: 30px 40px;
  border: solid 1px #e1e1e1;
  background-color: #fafafa;
  margin-top: 30px;
  border-radius: 5px;
}
body > .main-container .right-box .notice-box span {
  font-size: 15px;
  color: #797979;
}
