@charset "utf-8";
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
q,
s,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
body {
  font-family: Arial, "微軟正黑體" !important;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  width: auto;
  height: auto;
}
a {
  color: #fff;
  text-decoration: none;
}
span {
  display: inline-block;
}
div,
p,
a,
li,
td {
  -webkit-text-size-adjust: none;
}
* {
  box-sizing: border-box;
}
.for-mobile {
  display: none;
}
@media all and (max-width: 800px) {
  .for-mobile {
    display: block;
  }
}
.for-desktop {
  display: block;
}
@media all and (max-width: 800px) {
  .for-desktop {
    display: none;
  }
}
/*消除iphone電話號碼顏色異常*/
a[href^=tel] {
  text-decoration: inherit;
  color: inherit;
}
/*取消IE的input右側clear按鈕*/
::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
/*取消Chrome自動填入input淡黃色背景色*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* total width */
*::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
*::scrollbar {
  background-color: transparent;
  width: 6px;
}
/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}
/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}
header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #000;
}
header .header-wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1280px) {
  header .header-wrap {
    width: 100%;
    padding: 0 30px;
  }
}
@media all and (max-width: 480px) {
  header .header-wrap {
    padding: 0 20px;
  }
}
header .header-wrap .logo-box {
  float: left;
}
@media all and (max-width: 480px) {
  header .header-wrap .logo-box {
    width: 120px;
  }
}
@media all and (max-width: 480px) {
  header .header-wrap .logo-box a img {
    width: 100%;
    height: auto;
  }
}
header .header-wrap .right-box {
  float: right;
  display: flex;
  align-items: center;
}
header .header-wrap .right-box > ul {
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
header .header-wrap .right-box > ul li {
  float: left;
  padding: 0 20px;
  font-size: 16px;
  border-right: solid 1px #8d8c8e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .header-wrap .right-box > ul li:hover {
  opacity: 0.9;
}
@media all and (max-width: 480px) {
  header .header-wrap .right-box > ul li {
    padding: 0 10px;
    font-size: 12px;
  }
}
header .header-wrap .right-box > ul li:last-child {
  border-right: none;
}
header .header-wrap .right-box .login-btn {
  float: left;
  padding: 5px 40px;
  font-size: 16px;
  background-color: #cb0c41;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .header-wrap .right-box .login-btn:hover {
  opacity: 0.9;
}
@media all and (max-width: 480px) {
  header .header-wrap .right-box .login-btn {
    padding: 5px 10px;
  }
}
header .header-wrap .right-box .login-btn i {
  margin-right: 10px;
}
@media all and (max-width: 480px) {
  header .header-wrap .right-box .login-btn i {
    margin-right: 0;
  }
}
@media all and (max-width: 480px) {
  header .header-wrap .right-box .login-btn span {
    display: none;
  }
}
.fixed-line-box {
  z-index: 10;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.fixed-line-box .line {
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100vh;
  background-color: #DBDBDB;
}
.fixed-line-box .line1 {
  position: relative;
  left: 250px;
}
.fixed-line-box .line2 {
  left: 550px;
}
.fixed-line-box .line3 {
  left: 1500px;
}
footer {
  z-index: 11;
  position: relative;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  background-color: #000;
}
@media all and (max-width: 360px) {
  footer {
    font-size: 12px;
  }
}
footer .block-box .block1 {
  position: absolute;
  bottom: 150px;
  left: 258px;
  width: 5px;
  height: 5px;
  background-color: #000;
}
@media all and (max-width: 600px) {
  footer .block-box .block1 {
    left: 58px;
  }
}
footer .block-box .block2 {
  position: absolute;
  bottom: 137px;
  left: 258px;
  width: 5px;
  height: 5px;
  background-color: #000;
}
@media all and (max-width: 600px) {
  footer .block-box .block2 {
    left: 58px;
  }
}
footer .block-box .block3 {
  position: absolute;
  bottom: 77px;
  left: 238px;
  width: 8px;
  height: 8px;
  background-color: #000;
}
@media all and (max-width: 600px) {
  footer .block-box .block3 {
    left: 38px;
    bottom: 97px;
  }
}
.wk-content {
  margin-top: 87px;
  background-color: #fef8f3;
}
@media all and (max-width: 480px) {
  .wk-content {
    margin-top: 70px;
  }
}
.wk-content section.targetList-box {
  position: relative;
  width: 100%;
  height: 240px;
  padding: 70px 0;
  background-color: #333;
  border-bottom: solid 5px #f4b500;
}
@media all and (max-width: 650px) {
  .wk-content section.targetList-box {
    height: auto;
  }
}
.wk-content section.targetList-box .title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #fff;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
  border-top: solid 1px #fff;
}
@media all and (max-width: 650px) {
  .wk-content section.targetList-box .title {
    width: 240px;
    font-size: 26px;
    margin-bottom: 0;
  }
}
.wk-content section.targetList-box .security-platform-svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.wk-content section.targetList-box .security-platform-svg svg {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.wk-content .section2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
@media all and (max-width: 1200px) {
  .wk-content .section2 {
    padding: 100px 30px;
  }
}
@media all and (max-width: 800px) {
  .wk-content .section2 {
    padding: 70px 30px;
  }
}
.wk-content .section2 .top-box {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
  width: 1182px;
  height: 474px;
  margin-bottom: 30px;
  background-image: url('../images/judges/top-bg.png');
}
@media all and (max-width: 1200px) {
  .wk-content .section2 .top-box {
    width: 100%;
    background-color: #fff;
    border: solid 1px #2679a4;
    box-shadow: inset 1px 1px 0px #6eb5cb, inset -1px -1px 0px #6eb5cb;
    background-image: none;
    padding: 50px 30px;
  }
}
@media all and (max-width: 1024px) {
  .wk-content .section2 .top-box {
    display: block;
    height: auto;
    padding: 30px;
  }
}
@media all and (max-width: 400px) {
  .wk-content .section2 .top-box {
    padding: 20px 15px;
  }
}
.wk-content .section2 .top-box .title {
  width: 174px;
  height: 56px;
  margin-top: 20px;
  background-image: url('../images/judges/top-title.png');
}
@media all and (max-width: 1024px) {
  .wk-content .section2 .top-box .title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 650px) {
  .wk-content .section2 .top-box .title {
    width: 130px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.wk-content .section2 .top-box .form-box {
  position: relative;
  width: 740px;
  height: 370px;
  padding: 35px;
  border: solid 2px #cfcfcf;
  background-image: url('../images/judges/inner-form-bg.png');
}
@media all and (max-width: 1200px) {
  .wk-content .section2 .top-box .form-box {
    width: calc(100% - 250px);
  }
}
@media all and (max-width: 1024px) {
  .wk-content .section2 .top-box .form-box {
    width: 100%;
  }
}
@media all and (max-width: 650px) {
  .wk-content .section2 .top-box .form-box {
    height: auto;
    padding: 30px;
  }
}
@media all and (max-width: 400px) {
  .wk-content .section2 .top-box .form-box {
    padding: 20px 15px;
  }
}
.wk-content .section2 .top-box .form-box .dec {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 18px 0 0;
  border-color: #2779a6 transparent transparent transparent;
}
.wk-content .section2 .top-box .form-box > span {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  border-bottom: solid 1px #ddd;
  margin-bottom: 30px;
}
@media all and (max-width: 650px) {
  .wk-content .section2 .top-box .form-box > span {
    margin-bottom: 20px;
  }
}
.wk-content .section2 .top-box .form-box > span span:first-child {
  width: 100px;
  margin-right: 30px;
  vertical-align: top;
}
@media all and (max-width: 1200px) {
  .wk-content .section2 .top-box .form-box > span span:first-child {
    width: 70px;
  }
}
.wk-content .section2 .bottom-box {
  overflow: hidden;
  padding: 30px 16px;
  width: 1190px;
  height: 581px;
  background-image: url('../images/judges/bottom-bg.png');
}
@media all and (max-width: 1200px) {
  .wk-content .section2 .bottom-box {
    width: 100%;
    background-color: #fff;
    border: solid 1px #2679a4;
    box-shadow: inset 1px 1px 0px #6eb5cb, inset -1px -1px 0px #6eb5cb;
    background-image: none;
    padding: 0;
  }
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box {
    height: 500px;
  }
}
.wk-content .section2 .bottom-box .title {
  width: 174px;
  height: 56px;
  margin-top: 20px;
  margin-left: 54px;
  margin-bottom: 37px;
  background-image: url('../images/judges/bottom-title.png');
}
@media all and (max-width: 1200px) {
  .wk-content .section2 .bottom-box .title {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media all and (max-width: 800px) {
  .wk-content .section2 .bottom-box .title {
    width: 130px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 30px 30px;
  }
}
.wk-content .section2 .bottom-box .tab-box {
  background-color: #333;
}
.wk-content .section2 .bottom-box .tab-box ul {
  padding: 0 50px;
  overflow: hidden;
}
@media all and (max-width: 800px) {
  .wk-content .section2 .bottom-box .tab-box ul {
    padding: 0 20px;
  }
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box .tab-box ul {
    padding: 20px;
    padding-top: 10px;
  }
}
.wk-content .section2 .bottom-box .tab-box ul li {
  cursor: pointer;
  float: left;
  color: #fff;
  font-size: 16px;
  margin-right: 50px;
  padding: 18px 0 12px 0;
  border-bottom: solid 3px #333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wk-content .section2 .bottom-box .tab-box ul li:hover {
  color: #54d2e6;
  border-bottom: solid 3px #54d2e6;
}
@media all and (max-width: 800px) {
  .wk-content .section2 .bottom-box .tab-box ul li {
    font-size: 14px;
    margin-right: 20px;
    padding: 12px 0 10px 0;
  }
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box .tab-box ul li {
    padding: 9px 0 7px 0;
    margin: 0;
    float: none;
    display: block;
  }
}
.wk-content .section2 .bottom-box .tab-box ul li.active {
  color: #54d2e6;
  border-bottom: solid 3px #54d2e6;
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box .tab-box ul li.active {
    border-bottom: solid 2px #54d2e6;
  }
}
.wk-content .section2 .bottom-box .data-table {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box .data-table {
    overflow-x: scroll;
  }
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box .data-table .thead {
    width: 700px;
  }
}
.wk-content .section2 .bottom-box .data-table .thead .tr {
  display: block;
  overflow: hidden;
  background-color: #f0f0f0;
}
.wk-content .section2 .bottom-box .data-table .thead .tr span {
  width: 20%;
  float: left;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
@media all and (max-width: 800px) {
  .wk-content .section2 .bottom-box .data-table .thead .tr span {
    font-size: 14px;
    padding: 10px 0;
  }
}
.wk-content .section2 .bottom-box .data-table .tbody {
  height: 304px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box .data-table .tbody {
    width: 700px;
  }
}
.wk-content .section2 .bottom-box .data-table .tbody .tr {
  display: block;
  overflow: hidden;
  border-bottom: solid 1px #e9e9e9;
}
@media all and (max-width: 800px) {
  .wk-content .section2 .bottom-box .data-table .tbody .tr {
    display: flex;
    align-items: center;
  }
}
.wk-content .section2 .bottom-box .data-table .tbody .tr span {
  width: 20%;
  float: left;
  font-size: 16px;
  padding: 20px 0;
  text-align: center;
}
@media all and (max-width: 650px) {
  .wk-content .section2 .bottom-box .data-table .tbody .tr span {
    font-size: 14px;
    padding: 10px 0;
  }
}
.wk-content .section2 .bottom-box .data-table .tbody .tr span.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wk-content .section2 .bottom-box .data-table .tbody .tr span.btn span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  padding: 0;
  text-align: center;
  background-color: #edb400;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wk-content .section2 .bottom-box .data-table .tbody .tr span.btn span:hover {
  opacity: 0.8;
}
.wk-content .section2 .bottom-box .data-table.active {
  opacity: 1;
  visibility: visible;
}
